@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-gray-900 bg-gray-50;
  @apply dark:text-gray-50 dark:bg-gray-900;
}

h1 {
  @apply text-4xl text-left text-gray-700 pt-8 pb-2;
  @apply dark:text-gray-300;
}

h2 {
  @apply text-3xl text-left text-gray-600 pt-6 pb-2;
  @apply dark:text-gray-300;
}

h3 {
  @apply text-2xl text-left;
  @apply pt-6 pb-2;
}

h4 {
  @apply text-xl text-left;
  @apply pt-6 pb-2;
}

h5 {
  @apply text-lg text-left;
  @apply pt-4 pb-2;
}

h6 {
  @apply font-bold text-left;
  @apply pt-4 pb-2;
}

a {
  @apply underline hover:text-sky-500 break-words;
}

p {
  @apply py-3;
}

small {
  @apply text-sm text-left;
}

blockquote {
  @apply my-2 py-2 pl-4 border-l-4 border-gray-300 italic text-gray-700;
  @apply dark:border-gray-700 dark:text-gray-300;
  @apply font-serif;
}

blockquote small {
  @apply font-sans;
}

blockquote > p:first-child {
  @apply pt-0;
}

blockquote > *:last-child {
  @apply pb-0;
}

ul, ol {
  @apply text-left my-2 pl-8;
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

ol > li > ol,
ul > li > ul,
ul > li > ol,
ol > li > ul {
  @apply pl-8;
}

figure {
  @apply flex flex-col gap-2;
}

._contents {
  @apply text-gray-400 dark:text-slate-600;
}

._contents ul {
  @apply list-none my-2 mb-4 pl-0;
}

._contents ul ul {
  @apply pl-4
}

._contents li {
  @apply py-1;
}

._contents a {
  @apply no-underline block leading-tight;
}

._subtle > p:first-child {
  @apply pt-0;
}

._subtle > p:last-child {
  @apply pb-0;
}